uADC_USB/History/*
uADC_USB/__Previews/*
*.PrjPcbStructure
uADC_USB/Project Logs for uADC_USB
*.log
*.raw
Project Outputs for uADC_USB/
# eclipse specific git ignore
.metadata/
RemoteSystemsTempFiles/
.settings/
*.fft
Debug/
*.launch

# STM32 git ignore
*.mxproject
